[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest-html = "*"
pytest = "*"
allure-pytest = "*"
python-hcl2 = "*"
jinja2 = "*"
mkdocs-charts-plugin = "*"
pytest-json-report = "*"
"ruamel.yaml" = "*"
requests = "*"
mkdocs-macros-plugin = "*"
mkdocs-material = "*"

[dev-packages]

[requires]
python_version = "3.13"
