version: '3'

tasks:
  generate_benchmark_data:
    desc: Run performance benchmarks
    dir: benchmark
    cmds:
      - chmod +x ./run_benchmark.sh
      - ./run_benchmark.sh

  parse_benchmark_data:
    desc: Parse benchmark results
    cmds:
      - pipenv run python benchmark/parser.py
      - pipenv run python benchmark/parser_signatures.py


  generate_readme:
      desc: Generates the README.md file
      cmds:
        - pipenv run python scripts/update_readme.py

  serve:
    desc: "Run MkDocs server locally for live preview"
    cmds:
      - pipenv run mkdocs serve --dev-addr 0.0.0.0:8000
  

  build-MkDocs-site:
      desc: "Build the final FIPS Boundary Security Dashboard"
      summary: |
        This task generates the static site (MkDocs).
        It assumes all JSON reports (Trivy, KICS, Benchmarks) 
        are already gathered in the 'reports/' folder.
      cmds:
        - echo "Building MkDocs Security Dashboard..."
        - pipenv run mkdocs build --clean
        - echo "Done! The site is ready in the 'site/' directory."
