version: '3'

vars:
  RESULTS_ROOT: "allure-results"
  DEFAULT_IMAGE: "ghcr.io/taha2samy/wolfi-openssl-fips:3.5.5-distroless"

tasks:
  run:
    desc: Run pytest locally on the host
    vars:
      IMG_SAFE: '{{.IMAGE | default .DEFAULT_IMAGE}}'
      SAFE_NAME: '{{.IMG_SAFE | replace "/" "_" | replace ":" "_" | replace "." "_"}}'
    cmds:
      - mkdir -p reports
      - pipenv run pytest new_test/tests/ --alluredir="{{.RESULTS_ROOT}}/audit_{{.SAFE_NAME}}" --image="{{.IMG_SAFE}}" || true
      - echo "Image={{.IMG_SAFE}}" > "{{.RESULTS_ROOT}}/audit_{{.SAFE_NAME}}/environment.properties"

  multi:
    cmds:
      - task: run
        vars: { IMAGE: "ghcr.io/taha2samy/wolfi-openssl-fips:3.5.5-distroless" }
      - task: run
        vars: { IMAGE: "ghcr.io/taha2samy/wolfi-openssl-fips:latest" }

  clean:
    cmds:
      - rm -rf "{{.RESULTS_ROOT}}"
      - rm -rf reports
      - rm -rf allure-report
