version: '3'

tasks:

  update-db:
    desc: "Update Trivy Vulnerability Database"
    cmds:
      - mkdir -p .trivycache
      - docker run --rm -v "$(pwd)/.trivycache:/root/.cache" aquasec/trivy image --download-db-only


  scan-security-full:
    desc: "Deep security scan for all layers"
    internal: true
    silent: true
    vars:
      IMAGE: '{{.IMAGE}}'
      REPORT_ID: '{{.REPORT_ID}}'
      OS: '{{.OS}}'
    cmds:
      - mkdir -p reports
      - |
        echo "Running Deep Security Scan (All Layers)..."
        docker run --rm \
          -v /var/run/docker.sock:/var/run/docker.sock \
          -v "$(pwd)/reports:/reports" \
          -v "$(pwd)/.trivycache:/root/.cache" \
          aquasec/trivy image \
          --distro {{.OS}} \
          --removed-pkgs \
          --scanners vuln,secret,misconfig,license \
          --format json \
          --output "/reports/{{.REPORT_ID}}-security-full.json" \
          "{{.IMAGE}}"


  scan-image:
    desc: "Scan image using Trivy inside Docker with Path protection"
    vars:
      IMAGE: '{{.IMAGE}}'
      REPORT_ID: '{{.REPORT_ID}}'
      COMPLIANCE: '{{.COMPLIANCE | default ""}}'
      OS: '{{.OS | default ""}}'
      IS_DISTROLESS: '{{.IS_DISTROLESS | default "false"}}'
      OUT_DIR: "reports"
    silent: true
    cmds:
      - mkdir -p "{{.OUT_DIR}}"
      - mkdir -p .trivycache

      - |
        echo "Starting Full Scan..."
        docker run --rm \
          -v /var/run/docker.sock:/var/run/docker.sock \
          -v "$(pwd)/{{.OUT_DIR}}:/reports" \
          -v "$(pwd)/.trivycache:/root/.cache" \
          aquasec/trivy image \
          {{if .OS}}--distro {{.OS}}{{end}} \
          {{if .COMPLIANCE}}--compliance {{.COMPLIANCE}}{{end}} \
          --format json \
          --output "/reports/{{.REPORT_ID}}_full.json" \
          "{{.IMAGE}}"

      - |
        echo "Generating Summary..."
        docker run --rm \
          -v /var/run/docker.sock:/var/run/docker.sock \
          -v "$(pwd)/.trivycache:/root/.cache" \
          aquasec/trivy image \
          {{if .COMPLIANCE}}--compliance {{.COMPLIANCE}} --report summary{{else}}--severity HIGH,CRITICAL{{end}} \
          --format table \
          "{{.IMAGE}}"

      - |
        {{if eq .IS_DISTROLESS "true"}}
        echo "Distroless mode active..."
        docker run --rm \
          -v /var/run/docker.sock:/var/run/docker.sock \
          -v "$(pwd)/.trivycache:/root/.cache" \
          aquasec/trivy image --scanners secret,misconfig --format table "{{.IMAGE}}"
        {{end}}
      - rm -rf .trivycache
    

  full-compliance:
    desc: "scan image with all compliances"
    internal: true
    vars:
      IMAGE: "{{.IMAGE}}"
      REPORT_ID: "{{.REPORT_ID}}"
      OS: "{{.OS}}"
      IS_DISTROLESS: "{{.IS_DISTROLESS}}"
      docker_cis: "docker-cis-1.6.0"
      k8s_nsa: "k8s-nsa-1.0"
      k8s_pss_restricted: "k8s-pss-restricted-0.1"
    cmds:
      - task: scan-image
        vars:
          IMAGE: "{{.IMAGE}}"
          REPORT_ID: "{{.REPORT_ID}}-docker-cis"
          COMPLIANCE: "{{.docker_cis}}"
          OS: "{{.OS}}"
          IS_DISTROLESS: "{{.IS_DISTROLESS}}"
      - task: scan-image
        vars:
          IMAGE: "{{.IMAGE}}"
          REPORT_ID: "{{.REPORT_ID}}-k8s-nsa"
          COMPLIANCE: "{{.k8s_nsa}}"
          OS: "{{.OS}}"
          IS_DISTROLESS: "{{.IS_DISTROLESS}}"
      - task: scan-image
        vars:
          IMAGE: "{{.IMAGE}}"
          REPORT_ID: "{{.REPORT_ID}}-k8s-pss-restricted"
          COMPLIANCE: "{{.k8s_pss_restricted}}"
          OS: "{{.OS}}"
          IS_DISTROLESS: "{{.IS_DISTROLESS}}"
      - task: scan-security-full
        vars: { IMAGE: "{{.IMAGE}}", REPORT_ID: "{{.REPORT_ID}}", OS: "{{.OS}}" }


  Scan-Distroless:
    desc: "scan distroless image"
    cmds:
      - task: full-compliance
        vars:
          IMAGE: "{{.DISTROLESS_IMAGE}}"
          REPORT_ID: "distroless"
          IS_DISTROLESS: "true"
          OS: "wolfi"
    

  Scan-Standard:
    desc: "scan standard image"
    cmds:
      - task: full-compliance
        vars:
          IMAGE: "{{.STANDERD_IMAGE}}"
          REPORT_ID: "standard"
          IS_DISTROLESS: "false"
          OS: "wolfi"

  Scan-Development:
    desc: "scan development image"
    cmds:
      - task: full-compliance
        vars:
          IMAGE: "{{.DEV_IMAGE}}"
          REPORT_ID: "development"
          IS_DISTROLESS: "false"
          OS: "wolfi"
          
  scan-kics:
    desc: "Run KICS scan with dynamic path handling"
    cmds:
      - sed -i 's/- "/- "\/path\//g' kics.yaml

      - |
        docker run --rm -v "$PWD":/path checkmarx/kics:latest scan \
          -p /path \
          --config /path/kics.yaml || true
      - sed -i 's/\/path\///g' kics.yaml
      - echo "KICS scan finished. Config restored and reports cleaned."

