[fips_sect]
activate = 1
install-version = 1
conditional-errors = 1
security-checks = 1
hmac-key-check = 1
kmac-key-check = 1
tls1-prf-ems-check = 1
no-short-mac = 1
drbg-no-trunc-md = 1
signature-digest-check = 1
hkdf-digest-check = 0
tls13-kdf-digest-check = 0
tls1-prf-digest-check = 0
sshkdf-digest-check = 0
sskdf-digest-check = 0
x963kdf-digest-check = 0
dsa-sign-disabled = 0
tdes-encrypt-disabled = 1
rsa-pkcs15-pad-disabled = 0
rsa-pss-saltlen-check = 0
rsa-sign-x931-pad-disabled = 0
hkdf-key-check = 0
kbkdf-key-check = 0
tls13-kdf-key-check = 0
tls1-prf-key-check = 0
sshkdf-key-check = 0
sskdf-key-check = 0
x963kdf-key-check = 0
x942kdf-key-check = 0
pbkdf2-lower-bound-check = 1
ecdh-cofactor-check = 0
