[openssl_init]
providers = provider_sect
alg_section = algorithm_sect

[algorithm_sect]
# الحل السحري: استخدام الأندرسكور _ وعلامات التنصيص كما في التوثيق
# ده هيمنع خطأ الـ trailing characters وهيجبر الـ HMAC يرفض المفتاح القصير
default_properties = "fips=yes,fips.security_checks=1"

[provider_sect]
fips = fips_sect
base = base_sect

[fips_sect]
# 1. بننادي الملف المولد اللي فيه الـ MAC (البصمة)
.include /usr/local/ssl/fipsmodule.cnf

# 2. بنفعل الـ Indicators اللي التوثيق قال عليها
# جوه الـ Config بنستخدم الناقص - عادي زي ما التوثيق كاتب في مثال fips_sect
activate = 1
security-checks = 1
hmac-key-check = 1
tdes-encrypt-disabled = 1

[base_sect]
activate = 1