name: Build

on:
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository_owner }}/wolfi-openssl-fips
  repo_of_registry: wolfi-openssl-fips


jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    outputs:
      standard_digest: ${{ steps.extract_digests.outputs.standard_digest }}
      distroless_digest: ${{ steps.extract_digests.outputs.distroless_digest }}
      development_digest: ${{ steps.extract_digests.outputs.development_digest 
        }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5  # v4
      - name: Set up Docker Buildx
        uses: 
          docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f  # v3
      - name: Log in to GHCR
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9  # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/bake-action@5be5f02ff8819ecd3092ea6b2e6261c31774f2b4  # v6
        env:
          DOCKER_BUILD_SUMMARY: false
          DOCKER_BUILD_RECORD_UPLOAD: false
        id: bake
        with:
          push: true
          files: |
            docker-bake.hcl
            versions.hcl
          targets: default
          source: .

      - name: Extract digests
        id: extract_digests
        run: |
          metadata='${{ steps.bake.outputs.metadata }}'
          echo "standard_digest=$(echo $metadata | jq -r '.standard."containerimage.digest"')" >> $GITHUB_OUTPUT
          echo "distroless_digest=$(echo $metadata | jq -r '.distroless."containerimage.digest"')" >> $GITHUB_OUTPUT
          echo "development_digest=$(echo $metadata | jq -r '.development."containerimage.digest"')" >> $GITHUB_OUTPUT
          echo "standard_digest=$(echo $metadata | jq -r '.standard."containerimage.digest"')"
          echo "distroless_digest=$(echo $metadata | jq -r '.distroless."containerimage.digest"')"
          echo "development_digest=$(echo $metadata | jq -r '.development."containerimage.digest"')"
  attest:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      attestations: write
      packages: write
    strategy:
      fail-fast: false
      matrix:
        target_name: [standard, distroless, development]

    steps:
      - name: Log in to GHCR
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9  # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set Digest for current target
        id: set_digest
        run: |
          if [[ "${{ matrix.target_name }}" == "standard" ]]; then
            echo "digest=${{ needs.build.outputs.standard_digest }}" >> $GITHUB_OUTPUT
          elif [[ "${{ matrix.target_name }}" == "distroless" ]]; then
            echo "digest=${{ needs.build.outputs.distroless_digest }}" >> $GITHUB_OUTPUT
          else
            echo "digest=${{ needs.build.outputs.development_digest }}" >> $GITHUB_OUTPUT
          fi

      - name: Attest Provenance
        uses: 
          actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a  # v3
        id: attest_provenance-image
        with:
          subject-name: ghcr.io/${{ github.repository_owner 
            }}/wolfi-openssl-fips
          subject-digest: ${{ steps.set_digest.outputs.digest }}
          push-to-registry: true
          show-summary: false

      - name: Generate SBOM (CycloneDX)
        uses: anchore/sbom-action@28d71544de8eaf1b958d335707167c5f783590ad  # v0.22.2
        with:
          image: ghcr.io/${{ github.repository_owner }}/wolfi-openssl-fips@${{ 
            steps.set_digest.outputs.digest }}
          format: cyclonedx-json
          output-file: ${{ matrix.target_name }}.cyclonedx.json

      - name: Attest SBOM
        uses: actions/attest-sbom@4651f806c01d8637787e274ac3bdf724ef169f34  # v3
        id: attest_sbom
        with:
          subject-name: ghcr.io/${{ github.repository_owner 
            }}/wolfi-openssl-fips
          subject-digest: ${{ steps.set_digest.outputs.digest }}
          sbom-path: ${{ matrix.target_name }}.cyclonedx.json
          push-to-registry: true
          show-summary: false

      - name: Save URL to file
        run: |
          echo "" detail.json

      - name: Save Attestation Details to JSON
        run: |
          echo '{
            "target": "${{ matrix.target_name }}",
            "provenance": {
              "id": "${{ steps.attest_provenance-image.outputs.attestation-id }}",
              "url": "${{ steps.attest_provenance-image.outputs.attestation-url }}",
              "digest": "${{ steps.set_digest.outputs.digest }}"
            },
            "sbom": {
              "id": "${{ steps.attest_sbom.outputs.attestation-id }}",
              "url": "${{ steps.attest_sbom.outputs.attestation-url }}"
            }
          }' > ${{ matrix.target_name }}_attestation_details.json

      - name: Upload Attestation Metadata
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02  # v4
        with:
          name: attestation-metadata-${{ matrix.target_name }}
          path: ${{ matrix.target_name }}_attestation_details.json
          retention-days: 1


  readme:
    needs: [attest]
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744  # v3
      - name: Download all metadata artifacts
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093  # v4
        with:
          path: all-metadata
          pattern: attestation-metadata-*
          merge-multiple: true

      - name: Print JSON files and cleanup
        run: |
          echo "=========================================="
          echo "Displaying Attestation Details:"
          echo "=========================================="

          for file in all-metadata/*.json; do
            echo "File: $file"
            cat "$file"
            echo -e "\n------------------------------------------"
          done

      - name: install taskfile
        run: |
          sudo curl -1sLf 'https://dl.cloudsmith.io/public/task/task/setup.deb.sh' | sudo -E bash
          sudo apt install task

      - name: Set up Python
        uses: actions/setup-python@7f4fc3e22c37d6ff65e88745f38bd3157c663f7c  # v4
        with:
          python-version: '3.13'
      - name: Install pipenv
        run: |
          python -m pip install --upgrade pip
          pip install pipenv
          pipenv install
      - name: Generate benchmark data
        run: task docs:generate_benchmark_data
      - name: Parse benchmark data
        run: task docs:parse_benchmark_data

      - name: Generate docs tests
        run: task audit:multi

      - name: just debug
        run: |
          tree -a
          ls -la
          cat reports/report_distroless.json
          cat reports/report_standard.json

      - name: Run KICS Scan
        uses: 
          checkmarx/kics-github-action@00def9108246ec656aea725db2167522d26a99d2  # v2.1.19
        with:
          path: '.'
          config_path: './kics.yaml'
          output_path: 'reports/'
          output_formats: 'json,sarif'
          enable_annotations: true
          enable_jobs_summary: true
          exclude_gitignore: true
          ignore_on_exit: results


      - name: Build MkDocs site
        run: task docs:build-MkDocs-site
      - name: Deploy to GitHub Pages
        uses: 
          peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e  # v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site

      - name: Cleanup
        if: always()
        run: |
          echo "Cleaning up files..."
          rm -rf all-metadata

      - name: Delete dangling GHCR images
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          PACKAGE="wolfi-openssl-fips"

          gh api /user/packages/container/$PACKAGE/versions \
            --jq '.[] | select(.metadata.container.tags == null) | .id' |
          while read version; do
            echo "Deleting version $version"
            gh api --method DELETE \
              /user/packages/container/$PACKAGE/versions/$version
          done

