name: Build

on:
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository_owner }}/wolfi-openssl-fips
  repo_of_registry: wolfi-openssl-fips

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    outputs:
      standard_digest: ${{ steps.extract_digests.outputs.standard_digest }}
      distroless_digest: ${{ steps.extract_digests.outputs.distroless_digest }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/bake-action@v6
        id: bake
        with:
          push: true
          files: |
            docker-bake.hcl
            versions.hcl
          targets: default
          source: .

      - name: Extract digests
        id: extract_digests
        run: |
          metadata='${{ steps.bake.outputs.metadata }}'
          echo "standard_digest=$(echo $metadata | jq -r '.standard."containerimage.digest"')" >> $GITHUB_OUTPUT
          echo "distroless_digest=$(echo $metadata | jq -r '.distroless."containerimage.digest"')" >> $GITHUB_OUTPUT
          echo "standard_digest=$(echo $metadata | jq -r '.standard."containerimage.digest"')"
          echo "distroless_digest=$(echo $metadata | jq -r '.distroless."containerimage.digest"')"
  attest:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      attestations: write
      packages: write
    strategy:
      fail-fast: false
      matrix:
        target_name: [standard, distroless]

    steps:
      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set Digest for current target
        id: set_digest
        run: |
          if [[ "${{ matrix.target_name }}" == "standard" ]]; then
            echo "digest=${{ needs.build.outputs.standard_digest }}" >> $GITHUB_OUTPUT
          else
            echo "digest=${{ needs.build.outputs.distroless_digest }}" >> $GITHUB_OUTPUT
          fi

      - name: Attest Provenance
        uses: actions/attest-build-provenance@v2
        with:
          subject-name: ghcr.io/${{ github.repository_owner }}/wolfi-openssl-fips
          subject-digest: ${{ steps.set_digest.outputs.digest }}
          push-to-registry: true

      - name: Generate SBOM (CycloneDX)
        uses: anchore/sbom-action@v0.22.2
        with:
          image: ghcr.io/${{ github.repository_owner }}/wolfi-openssl-fips@${{ steps.set_digest.outputs.digest }}
          format: cyclonedx-json
          output-file: ${{ matrix.target_name }}.cyclonedx.json

      - name: Attest SBOM
        uses: actions/attest-sbom@v3
        with:
          subject-name: ghcr.io/${{ github.repository_owner }}/wolfi-openssl-fips
          subject-digest: ${{ steps.set_digest.outputs.digest }}
          sbom-path: ${{ matrix.target_name }}.cyclonedx.json
          push-to-registry: true
