name: Build

on:
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository_owner }}/wolfi-openssl-fips

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write     
      attestations: write  
      actions: write 

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}


      - name: Build and push
        uses: docker/bake-action@v6
        id: bake
        with:
          push: true
          files: |
            docker-bake.hcl
            versions.hcl
          targets: default
          source: .

          
      - name: Save bake metadata to file
        run: echo '${{ steps.bake.outputs.metadata }}' > bake-metadata.json
  
      - name: Extract digests
        run: |
          DISTROLESS_DIGEST=$(jq -r '.distroless."containerimage.descriptor".digest' bake-metadata.json)
          STANDARD_DIGEST=$(jq -r '.standard."containerimage.descriptor".digest' bake-metadata.json)
 

      - name: Attest Build Provenance for DistRoless
        uses: actions/attest-build-provenance@v2
        
        with:
          subject-name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          subject-digest: $DISTROLESS_DIGEST 
          push-to-registry: true
      - name: Attest Build Provenance for Base
        uses: actions/attest-build-provenance@v2
        with:
          subject-name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          subject-digest: $STANDARD_DIGEST 
          push-to-registry: true

