name: Build

on:
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository_owner }}/wolfi-openssl-fips
  repo_of_registry: wolfi-openssl-fips

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    outputs:
      standard_digest: ${{ steps.extract_digests.outputs.standard_digest }}
      distroless_digest: ${{ steps.extract_digests.outputs.distroless_digest }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/bake-action@v6
        id: bake
        with:
          push: true
          files: |
            docker-bake.hcl
            versions.hcl
          targets: default
          source: .

      - name: Extract digests
        id: extract_digests
        run: |
          metadata='${{ steps.bake.outputs.metadata }}'
          echo "standard_digest=$(echo $metadata | jq -r '.standard."containerimage.digest"')" >> $GITHUB_OUTPUT
          echo "distroless_digest=$(echo $metadata | jq -r '.distroless."containerimage.digest"')" >> $GITHUB_OUTPUT
          echo "standard_digest=$(echo $metadata | jq -r '.standard."containerimage.digest"')"
          echo "distroless_digest=$(echo $metadata | jq -r '.distroless."containerimage.digest"')"
  attest:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      attestations: write
      packages: write
    strategy:
      fail-fast: false
      matrix:
        target_name: [standard, distroless]

    steps:
      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set Digest for current target
        id: set_digest
        run: |
          if [[ "${{ matrix.target_name }}" == "standard" ]]; then
            echo "digest=${{ needs.build.outputs.standard_digest }}" >> $GITHUB_OUTPUT
          else
            echo "digest=${{ needs.build.outputs.distroless_digest }}" >> $GITHUB_OUTPUT
          fi

      - name: Attest Provenance
        uses: actions/attest-build-provenance@v3
        id: attest_provenance-image
        with:
          subject-name: ghcr.io/${{ github.repository_owner }}/wolfi-openssl-fips
          subject-digest: ${{ steps.set_digest.outputs.digest }}
          push-to-registry: true

      - name: Generate SBOM (CycloneDX)
        uses: anchore/sbom-action@v0.22.2
        with:
          image: ghcr.io/${{ github.repository_owner }}/wolfi-openssl-fips@${{ steps.set_digest.outputs.digest }}
          format: cyclonedx-json
          output-file: ${{ matrix.target_name }}.cyclonedx.json

      - name: Attest SBOM
        uses: actions/attest-sbom@v3
        id: attest_sbom
        with:
          subject-name: ghcr.io/${{ github.repository_owner }}/wolfi-openssl-fips
          subject-digest: ${{ steps.set_digest.outputs.digest }}
          sbom-path: ${{ matrix.target_name }}.cyclonedx.json
          push-to-registry: true
      - name: Save URL to file
        run: |
          echo "" detail.json

      - name: Save Attestation Details to JSON
        run: |
          echo '{
            "target": "${{ matrix.target_name }}",
            "provenance": {
              "id": "${{ steps.attest_provenance-image.outputs.attestation-id }}",
              "url": "${{ steps.attest_provenance-image.outputs.attestation-url }}",
              "digest": "${{ steps.set_digest.outputs.digest }}"
            },
            "sbom": {
              "id": "${{ steps.attest_sbom.outputs.attestation-id }}",
              "url": "${{ steps.attest_sbom.outputs.attestation-url }}"
            }
          }' > ${{ matrix.target_name }}_attestation_details.json

      - name: Upload Attestation Metadata
        uses: actions/upload-artifact@v4
        with:
          name: attestation-metadata-${{ matrix.target_name }}
          path: ${{ matrix.target_name }}_attestation_details.json
          retention-days: 1  


  readme:
    needs: [attest]
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - uses: actions/checkout@v3
      - name: Download all metadata artifacts
        uses: actions/download-artifact@v4
        with:
          path: all-metadata 
          pattern: attestation-metadata-* 
          merge-multiple: true 

      - name: Print JSON files and cleanup
        run: |
          echo "=========================================="
          echo "Displaying Attestation Details:"
          echo "=========================================="
          
          for file in all-metadata/*.json; do
            echo "File: $file"
            cat "$file"
            echo -e "\n------------------------------------------"
          done
          
      - name: install taskfile
        run: |
          sudo curl -1sLf 'https://dl.cloudsmith.io/public/task/task/setup.deb.sh' | sudo -E bash
          sudo apt install task
        
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'
      - name: Install pipenv
        run: |
          python -m pip install --upgrade pip
          pip install pipenv
          pipenv install
      - name: Run Benchmark
        run: task docs:all-report-benchmark
      - name: Generate Docs
        run: task docs:generate_docs_tests
      - name: Generate Benchmark Report
        run: tree
      - name: Generate Readme
        run: task docs:generate_readme
      - name: Commit generated docs
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          echo $(date) > test.txt
          git add test.txt
          git add README.md docs/

          # commit only if there are changes
          git diff --staged --quiet || git commit -m "Auto-update README and docs"

          git push
      - name: Cleanup
        if: always()
        run: |
          echo "Cleaning up files..."
          rm -rf all-metadata

      - name: Delete dangling GHCR images
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          PACKAGE="wolfi-openssl-fips"

          gh api /user/packages/container/$PACKAGE/versions \
            --jq '.[] | select(.metadata.container.tags == null) | .id' |
          while read version; do
            echo "Deleting version $version"
            gh api --method DELETE \
              /user/packages/container/$PACKAGE/versions/$version
          done
