name: Build

on:
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository_owner }}/wolfi-openssl-fips
  repo_of_registry: wolfi-openssl-fips


jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    outputs:
      standard_digest: ${{ steps.extract_digests.outputs.standard_digest }}
      distroless_digest: ${{ steps.extract_digests.outputs.distroless_digest }}
      development_digest: ${{ steps.extract_digests.outputs.development_digest }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5  # v4
      - name: Set up Docker Buildx
        uses: 
          docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f  # v3
      - name: Log in to GHCR
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9  # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/bake-action@5be5f02ff8819ecd3092ea6b2e6261c31774f2b4  # v6
        env:
          DOCKER_BUILD_SUMMARY: false
          DOCKER_BUILD_RECORD_UPLOAD: false
        id: bake
        with:
          push: true
          files: |
            docker-bake.hcl
            versions.hcl
          targets: default
          source: .

      - name: Extract digests
        id: extract_digests
        run: |
          metadata='${{ steps.bake.outputs.metadata }}'
          echo "standard_digest=$(echo $metadata | jq -r '.standard."containerimage.digest"')" >> $GITHUB_OUTPUT
          echo "distroless_digest=$(echo $metadata | jq -r '.distroless."containerimage.digest"')" >> $GITHUB_OUTPUT
          echo "development_digest=$(echo $metadata | jq -r '.development."containerimage.digest"')" >> $GITHUB_OUTPUT
          echo "standard_digest=$(echo $metadata | jq -r '.standard."containerimage.digest"')"
          echo "distroless_digest=$(echo $metadata | jq -r '.distroless."containerimage.digest"')"
          echo "development_digest=$(echo $metadata | jq -r '.development."containerimage.digest"')"
  attest:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      attestations: write
      packages: write
      contents: write
      security-events: write
    strategy:
      fail-fast: false
      matrix:
        target_name: [standard, distroless, development]

    steps:
      - name: Log in to GHCR
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9  # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Setup Taskfile
        uses: ./.github/actions/setup-task

      - name: Set Digest for current target
        id: set_digest
        run: |
          if [[ "${{ matrix.target_name }}" == "standard" ]]; then
            echo "digest=${{ needs.build.outputs.standard_digest }}" >> $GITHUB_OUTPUT
          elif [[ "${{ matrix.target_name }}" == "distroless" ]]; then
            echo "digest=${{ needs.build.outputs.distroless_digest }}" >> $GITHUB_OUTPUT
          else
            echo "digest=${{ needs.build.outputs.development_digest }}" >> $GITHUB_OUTPUT
          fi

      - name: Attest Provenance
        uses: 
          actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a  # v3
        id: attest_provenance-image
        with:
          subject-name: ghcr.io/${{ github.repository_owner }}/wolfi-openssl-fips
          subject-digest: ${{ steps.set_digest.outputs.digest }}
          push-to-registry: true
          show-summary: false

      - name: Generate SBOM (CycloneDX)
        id: generate_sbom
        uses: anchore/sbom-action@28d71544de8eaf1b958d335707167c5f783590ad  # v0.22.2
        with:
          image: ghcr.io/${{ github.repository_owner }}/wolfi-openssl-fips@${{steps.set_digest.outputs.digest }}
          format: cyclonedx-json
          output-file: ${{ matrix.target_name }}.cyclonedx.json
          upload-artifact: false
          dependency-snapshot: false
      - name: Upload SBOM to Dependency Graph
        run: |
          task upload-sbom \
            FILE=${{ matrix.target_name }}.cyclonedx.json \
            TARGET=${{ matrix.target_name }} \
            REPO=${{ github.repository }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_SHA: ${{ github.sha }}
          GITHUB_REF: ${{ github.ref }}


      - name: Attest SBOM
        uses: actions/attest-sbom@4651f806c01d8637787e274ac3bdf724ef169f34  # v3
        id: attest_sbom
        with:
          subject-name: ghcr.io/${{ github.repository_owner }}/wolfi-openssl-fips
          subject-digest: ${{ steps.set_digest.outputs.digest }}
          sbom-path: ${{ matrix.target_name }}.cyclonedx.json
          push-to-registry: true
          show-summary: false

      - name: Save URL to file
        run: |
          echo "" detail.json

      - name: Save Attestation Details to JSON
        run: |
          echo '{
            "target": "${{ matrix.target_name }}",
            "provenance": {
              "id": "${{ steps.attest_provenance-image.outputs.attestation-id }}",
              "url": "${{ steps.attest_provenance-image.outputs.attestation-url }}",
              "digest": "${{ steps.set_digest.outputs.digest }}"
            },
            "sbom": {
              "id": "${{ steps.attest_sbom.outputs.attestation-id }}",
              "url": "${{ steps.attest_sbom.outputs.attestation-url }}"
            }
          }' > ${{ matrix.target_name }}_attestation_details.json

      - name: Upload Attestation Metadata
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02  # v4
        with:
          name: attestation-metadata-${{ matrix.target_name }}
          path: ${{ matrix.target_name }}_attestation_details.json
          retention-days: 1

      - name: Upload Clean SBOM
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02
        with:
          name: reports-sbom-${{ matrix.target_name }}
          path: ${{ matrix.target_name }}.cyclonedx.json
          retention-days: 1

  benchmarking:
    needs: [attest]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5  # v4
      - name: Setup Taskfile
        uses: ./.github/actions/setup-task

      - name: Generate benchmark data
        run: task docs:generate_benchmark_data
      - name: Parse benchmark data
        run: task docs:parse_benchmark_data
      - name: Upload Benchmarks
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02  # v4
        with:
          name: reports-benchmarks
          path: reports/
          retention-days: 1

  fips-verification-suite:
    needs: [attest]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5  # v4
      - name: Setup Taskfile
        uses: ./.github/actions/setup-task
      - name: Generate docs tests
        run: task audit:multi
      - name: Upload Audit Reports
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02  # v4
        with:
          name: reports-audit
          path: reports/
          retention-days: 1

  kics-scan:
    needs: [attest]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5  # v4
      - name: Run KICS Scan
        uses: 
          checkmarx/kics-github-action@00def9108246ec656aea725db2167522d26a99d2  # v2.1.19
        with:
          path: '.'
          config_path: './kics.yaml'
          output_path: 'reports/'
          output_formats: 'json,sarif'
          ignore_on_exit: results
      - name: Upload KICS Reports
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02  # v4
        with:
          name: reports-kics
          path: reports/
          retention-days: 1

  scan-compliance:
    name: Run - ${{ matrix.task_name }}
    needs: [attest]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - task_name: "scan-compliance:Scan-Distroless"
            id: "distroless"
          - task_name: "scan-compliance:Scan-Standard"
            id: "standard"
          - task_name: "scan-compliance:Scan-Development"
            id: "development"

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5  # v4

      - name: setup python
        uses: actions/setup-python@7f4fc3e22c37d6ff65e88745f38bd3157c663f7c  # v4
        with:
          python-version: '3.13'
      - name: Setup Taskfile
        uses: ./.github/actions/setup-task

      - name: run trivy ${{ matrix.id }}
        run: |
          sudo -E task ${{ matrix.task_name }}

      - name: Upload Artifacts
        if: always()
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02  # v4
        with:
          name: reports-trivy-${{ matrix.id }}
          path: reports/
          retention-days: 1





  readme:
    needs: [attest, benchmarking, fips-verification-suite, kics-scan, 
          scan-compliance]
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      pages: write
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5  # v4
      - name: create stage directory
        run: mkdir reports
      - name: Download all metadata artifacts
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093  # v4
        with:
          path: reports/
          pattern: "*"
          merge-multiple: true


      - name: Verify and Print All Files
        run: |
          echo "=========================================="
          echo "All collected files (FLAT STRUCTURE):"
          echo "=========================================="
          ls -R reports/

      - name: Setup Taskfile
        uses: ./.github/actions/setup-task
      - name: change permissions
        run: sudo chmod -R 777 .
      - name: debug
        run: |
          ls -la reports/ 
      - name: Build MkDocs site
        run: task docs:build-MkDocs-site

      - name: Deploy to GitHub Pages
        uses: 
          peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e  # v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site



      - name: Cleanup Dangling Images
        uses: ./.github/actions/cleanup-ghcr
        with:
          package_name: "wolfi-openssl-fips"
          token: ${{ secrets.GITHUB_TOKEN }}

