name: Build

on:
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository_owner }}/wolfi-openssl-fips
  repo_of_registry: wolfi-openssl-fips

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      id-token: write     
      attestations: write  
      actions: write 

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}


      - name: Build and push
        uses: docker/bake-action@v6
        id: bake
        with:
          push: true
          files: |
            docker-bake.hcl
            versions.hcl
          targets: default
          source: .
          sbom: generator=docker/buildkit-syft-scanner,format=cyclonedx-json
          provenance: mode=max


          
      - name: Save bake metadata to file
        run: echo '${{ steps.bake.outputs.metadata }}' > bake-metadata.json
      - name: Extract digests and sizes
        id: extract_digests
        shell: bash
        run: |
          DISTROLESS=$(jq -r '.distroless."containerimage.digest"' bake-metadata.json)
          STANDARD=$(jq -r '.standard."containerimage.digest"' bake-metadata.json)

          echo "distroless_digest=$DISTROLESS" >> $GITHUB_OUTPUT
          echo "standard_digest=$STANDARD" >> $GITHUB_OUTPUT
          
          echo "Distroless: $DISTROLESS"
          echo "Standard: $STANDARD"

      - name: Attest Distroless
        uses: actions/attest-build-provenance@v2
        with:
          subject-name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          subject-digest: ${{ steps.extract_digests.outputs.distroless_digest }}
          push-to-registry: true

      - name: Attest Standard
        uses: actions/attest-build-provenance@v2
        with:
          subject-name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          subject-digest: ${{ steps.extract_digests.outputs.standard_digest }}
          push-to-registry: true
